
#main{
    background: #489aaf;
}

#container {
    padding: 15px;
}

#mainGrid {
    border: 2px solid rgb(158, 106, 200);
}

#mainGrid > grid:nth-child(2n+1) {
    background: #E1E5E5;
}

#mainGrid > grid:nth-child(4),
#mainGrid > grid:nth-child(5),
#mainGrid > grid:nth-child(6) {
    border-style: solid;
    border-color: rgb(158, 106, 200);
    border-left-width: 2px;
    border-right-width: 2px;
}


#mainGrid > grid:nth-child(2),
#mainGrid > grid:nth-child(5),
#mainGrid > grid:nth-child(8) {
    border-style: solid;
    border-color: rgb(158, 106, 200);
    border-top-width: 2px;
    border-bottom-width: 2px;
}

#mainGrid > grid > *:nth-child(4) ,
#mainGrid > grid > *:nth-child(5) ,
#mainGrid > grid > *:nth-child(6) {
    border-style: solid;
    border-color: rgb(77, 204, 226);
    border-left-width: 1px;
    border-right-width: 1px;
}

#mainGrid > grid > *:nth-child(2),
#mainGrid > grid > *:nth-child(5),
#mainGrid > grid > *:nth-child(8) {
    border-style: solid;
    border-color: rgb(77, 204, 226);
    border-top-width: 1px;
    border-bottom-width: 1px;
}

#mainGrid box label {
    min-width: 60px;
    min-height: 60px;
    font-size: 18px;
}

#mainGrid button {
    border-radius: 0;
    border: 0;
    background: transparent;
}

#mainGrid button:hover {
    background: #3498DB;
}

#mainGrid button:active {
    background: #2980B9;
}

#mainGrid button:focus {
    background: #E74C3C;
}

#mainGrid button.correct {
    animation: correct 0.75s ease-out;
}

#mainGrid button.incorrect {
    animation: incorrect 0.75s ease-out;
}

#numberPopover grid button {
    min-width: 20px;
    min-height: 20px;
}

#statusBar {
    padding-top: 15px;
}


@keyframes correct {
    0%   {background-color: #6AE765;}
    100% {background-color: transparent;}
}

@keyframes incorrect {
    0%   {background-color: #E74C3C;}
    100% {background-color: transparent;}
}